*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contaner{
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
}

.main {
    padding: 50px 0;
    color: #314a5b;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 450px) {

    .main {
        padding: 20px 0;
    }
}

.main__body.hide,
.upload.hide,
.results__body.hide,
.right.hide {
    display: none;
}

.upload {
    border: 2px dashed #9aa0ab;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    min-width: 280px;
    width: 55vw;
    padding: 40px 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s 0s ease;
}

.upload.active {
    box-shadow: rgb(0, 0, 0, 0.1) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border:2px dashed #314a5b;
    background-color: #f4f4f4;
}

.upload__icon {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

@media(max-width: 640px){

    .upload__icon{
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
    }
}

.upload__text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

@media(max-width: 640px){

    .upload__text {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.btn {
    background-color: #fa5c65;
    padding: 15px 30px;
    width: 20vw;
    max-width: 200px;
    border-radius: 5px;
    border: #fa5c65;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s 0s ease;
}

@media(max-width: 640px){

    .btn {
        width: auto;
        max-width: 100%;
    }
}

.btn.btn-secondary {
    background-color: #314a5b;
}

.btn:hover {
    background-color: #F14953;
}

.main__body {
    display: flex;
    width: 100%;
}

@media(max-width: 1000px) {

    .main__body {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media(max-width: 1000px) {

    .left {
        display: flex;
    }
}

@media(max-width: 840px) {

    .left {
        flex-direction: column;
    }
}

.hero {
    margin-bottom: 40px;
}

.btn.btn-secondary:hover {
    background-color: #263a48;
}

.hero__pic {
    position: relative;
    width: 25vw;
    min-height: 70vh;
    padding: 40% 0 0;
    border-radius: 5px;
}

@media(max-width: 1600px) {

    .hero__pic {
        width: 30vw;
    }
}

@media(max-width: 1200px) {

    .hero__pic {
        width: 35vw;
    }
}

@media(max-width: 1000px) {

    .hero__pic {
        width: 100%;
        min-width: 50vw;
        max-width: 400px;
        min-height: 500px;
        margin: 0 auto;
    }
}

@media(max-width: 450px) {

    .hero__pic {
        min-height: 400px;
    }
}

.hero__pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;;
    -o-object-position: center;;
       object-position: center;
    border-radius: 5px;
}

.controls {
    max-width: 25vw;
}

@media(max-width: 1600px) {

    .controls {
        max-width: 30vw;
    }
}

@media(max-width: 1200px) {

    .controls {
        max-width: 35vw;
    }
}

@media(max-width: 1000px) {

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-width: 50vw;
    }
}

@media(max-width: 840px) {

    .controls {
        min-width: 100%;
        margin-bottom: 60px;
    }
}

.controls__inner {
    display: flex;
    justify-content: center;
}

.controls .btn {
    margin-right: 40px;
    min-width: 10vw;
}

.controls .btn:last-child {
    margin-right: 0;
}

.results {
    background-color: #f4f4f4;
    border: 2px solid #F14953;
    border-radius: 5px;
    padding: 30px 30px 0;
    height: 100%;
}

.results__text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.right {
    margin-left: 40px;
    flex-grow: 1;
}

@media(max-width: 1000px) {

    .right {
        margin-left: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}

.results__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.results__card {
    flex-basis: calc((100% - 120px) / 4);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 30px;
}

@media(max-width: 1600px) {

    .results__card {
        flex-basis: calc((100% - 90px) / 3);
    }
}

@media(max-width: 1200px) {

    .results__card {
        flex-basis: calc((100% - 60px) / 2);
    }
}

@media(max-width: 1000px) {

    .results__card {
        flex-basis: calc((100% - 90px) / 3);
    }
}

@media(max-width: 840px) {

    .results__card {
        flex-basis: calc((100% - 60px) / 2);
    }
}

@media(max-width: 640px) {

    .results__card {
        flex-basis: 100%;
    }
}

.card__pic {
    position: relative;
    width: 100%;
    padding: 110% 0 0;
    border-radius: 5px;
}

.card__pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card__desc {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: #263a48;
}

.card__probability {
    margin-bottom: 5px;
    margin-right: 15px;
}

.label {
    font-weight: 600;
    text-transform: uppercase;
    color: #b9c0c6;
}

.value {
    font-weight: 600;
    color: #263a48;
}